@font-face {
  font-family: "Satoshi";
  src: url("assets/Satoshi-Regular.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("assets/Satoshi-Medium.woff2") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("assets/Satoshi-Bold.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}


:root {
  font-family: Satoshi, Inter, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #1C1E1C;
  background-color: #F8F0E4;
  background-image: url("assets/Gradient.jpg");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --paddingBox: calc(0.5rem + 2vw);
  --paddingFormsInput: 1.2rem 0.9rem;
}



*{
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #3954A5;
  text-decoration: inherit;
}
a:hover {
  color: #dc6967;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: clamp(2.8rem, 5rem, 6vw);
  line-height: 1.1;
  letter-spacing: -0.025em;
  font-weight: 700;
}

h3 {
  font-size: clamp(2rem, 2.4em, 2vw);
  line-height: 1.1;
  letter-spacing: -0.025em;
  font-weight: 700;
}

img{
  width: 100%;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}

label{
  font-size: 0.9rem;
}

textarea{
  flex: 1;
  width: 100%;
  background-color: #F8F0E4;
  border: none;
  padding: var(--paddingFormsInput);
  border-radius: 1.2rem;
  color: #1C1E1C;
  min-height: 10rem;
}

textarea:focus, textarea:focus-visible, textarea:active,
input:focus, input:focus-visible, input:active
{
  outline: 1px solid #3954A5;
}

input{
  width: 100%;
  padding: var(--paddingFormsInput);
  border-radius: 2rem;
  color: #1C1E1C;
  background-color: #F8F0E4;
  border: none;
}
select{
  width: 100%;
  padding: var(--paddingFormsInput);
  border-radius: 2rem;
  color: #1C1E1C;
  background-color: #F8F0E4;
  border: none;
}
option{
  color: #1C1E1C;
  background-color: #F8F0E4;
  padding: var(--paddingFormsInput) ;
}
button, .btn {
  border-radius: 8rem;
  padding: 1.2rem 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  color: #fff;
  background-color: #F28482; 
  border: none;
  letter-spacing: -0.024em;  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


header {
  width: 100%;
  left: 0;
  z-index: 9;
}

#app {
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0 auto;
  max-width: 1680px;
  padding: min(1rem, 2vw) calc(1rem + 2vw);
  display: grid;
  gap: 2rem;
  grid-template-rows: 
    auto
    1fr
    auto
    ;
}

.container{
  max-width: 90vw;
  margin: 0 auto;
}
.flex-flow{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.flex-item{
  flex: 1 300px;
}

.logo {
  max-width: 80px;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #F28482);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.hidden{
  display: none;
}

.sub-header{
  font-size: clamp(1rem, 1.375rem, 2vw);
  margin-bottom: calc(2rem + 2vw);
  max-width: 40ch;
  line-height: 140%;
}


.cta-secondary{
  border-radius: 8rem;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  color: #3954A5; 
  border: 1px solid;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Layout */
.grid {
  display: grid;
  grid-template-columns: 1fr 0.65fr 0.2fr 1fr;
  overflow: hidden;
  /* transform: translateY(-10%); */
}

.startingForm{
  background: #fff;
  padding: var(--paddingBox);
  border-radius: 1rem;
  flex-direction: column;
  align-content: start;
  justify-content: start;
  gap: 2rem;
}



.hero-banner{
  margin: auto 0;
  grid-column: 1 / 4;
  grid-row: 1;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.8s ease-out;
}
.illustration{
  grid-column: 3 / 6;
  grid-row: 1;
  z-index: 3;
}

.hero-div{
  margin: auto 0;
  grid-column: 1 / -1;
  grid-row: 1;
  position: relative;
  top: 0;
  transition: all 0.8s ease-in;
}

@media (max-width: 620px) {
  .grid{
    grid-template-columns: 1fr 1fr ;
    transform: translateY(-0%);
  }
  .hero-div{
    grid-column: -1;
    max-width: 100%;
    grid-row: 2;
    padding: 0;
    margin: 0;
    z-index: 10;
  }
  .illustration{
    grid-column: -1;
    grid-row: 1;
  }
  .illustration img{
    width: 320px;
    display: block;
    margin: 0 auto;
  }
  .hero-banner{
    grid-row: 2;
  }
}


/* End Layout */


.interaction{
  background-color: #fff;
  padding: var(--paddingBox);
  border-radius:  var(--paddingBox);
  width: 100%;
  overflow: hidden;
}

.interaction__container{
  height: 100%;
  transition: transform 0.8s ease, height 0.2s ease;

}

.interaction > div {
  width: max(240px, 100%);
}



.progress__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.progress-bar {
  flex: 1;
  height: 2px;
  background-color: #f6f5e3;
  position: relative; 
}
.progress-bar::before{
  width: 0%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom:0;
  background-color: #84A59D;
  transition: all 0.4s ease-out 0.5s;
}
 
.question-icon-circle.active + .progress-bar::before {
  width: 50%;
}

.question-icon-circle.active.complete + .progress-bar::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom:0;
  background-color: #84A59D;
  width: 100%;
  transition: all 0.4s ease-out;
}

.question-icon-circle {
  width: 28px;
  height: 28px;
  border: 1px solid #f6f5e3;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-out;
}

.question-icon-circle::before {
  content: "?";
  color: #f6f5e3;
  font-size: 20px;
  transition: all 0.4s ease-out;
}
.question-icon-circle.active::before {
  content: "?";
  color: #84A59D;
  font-size: 20px;
  transition: all 0.4s ease-out;
}

.question-icon-circle.complete::before {
  content: "!";
  color: #84A59D;
  font-size: 20px;
  transition: all 0.8s ease-out;
}


.question-icon-circle.active{
  border: 2px solid #84A59D;
}

.question-icon-circle.complete{
  background-color: #84A59D;  
}

.loading-response{
  text-align: center;
  padding: var(--paddingBox);
  transition: all 0.8s ease-in;
}

.loading-response p{
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.024em;
  color: #1C1E1C;
}

.dot {
  animation: dot-animation 1s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
}

.loader:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          stroke-linecap: round;
        }
        
        @-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.result{
  transform: translateY(200%);
  transition: all 0.8s ease-out;
}

.moveIn{
  transform: translateY(0);
}

.moveOut{
  transform: translateY(-200%);
}

.taskTitle{
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -0.024em;
  color: #1C1E1C;
}

.task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #f6f5e3;
}

.tasks li {
  padding: 0.4rem 0;
  list-style: decimal-leading-zero;
}

.help{
  display: grid;
  place-content: center;
  padding: var(--paddingBox);
  background-color: #ADC7D6;
  border-radius: var(--paddingBox);
  grid-template-columns: auto 1fr;
  gap: 2rem;
  margin-top: 2rem;
  color: #3954A5;
}

@media screen and (max-width: 1080px) {
  .help{
    grid-template-columns: auto;
  }
}

  
#donation-form{
  align-self: center;
  align-items: end;
}
#donation-form a {
  background-color: #3954A5;
  color: #fff;
  border: none;
  padding: var(--paddingBox);
  border-radius: 100vh;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.024em;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
.donation-header{
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.024em;
  margin: 1rem 0;
}
.donation-paragraph span{
  font-weight: 700;
  letter-spacing: -0.024em;
}
/* style the error div and give it a transition plus a transform translate */
.errorMessage {
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  background-color: #1C1E1C;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 100vh;
}
.errorDiv{
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
  transform-origin: center;
}
.error{
  border: 2px solid #dc6967;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@-webkit-keyframes color {
  100%, 0% {
    stroke: #ADC7D6;
  }
  55% {
    stroke: #3954A5;
  }
}


@keyframes dot-animation {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}



